body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;

}

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme button{
    color: #ffffff;
}

.dark-theme a{
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: navy;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 33px;
    background: orange;
    color: navy;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}

#changeThemebtn {
    position: absolute;
    top: 75px;
    right: 10px;
}

#selfCareBtn {
    position: absolute;
    top: 75px;
    left: 10px;
}

#inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bolder;
}

label {
    font-size: larger;
}


.textResult {
    font-style: oblique;
    font-size: larger;
    text-align: center;
    padding: 6px;
    border-radius: 34px;
    background: orange;
    color: whitesmoke;
    margin: 40px;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

ul {
    text-align: center;
    font-size: large;
    font-style: italic;
    margin-top: 135px;
    text-decoration: none;
    list-style: none;
    line-height: 46px;
    background: orange;
    border-radius: 72px;
    color: white;
}